.table__cell {
    width: 150px;
    margin-top: 50px;
    background-color: #cacaca;
    height: 400px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .table__cell_centre {
    width: 200px;
    margin: 60px auto 0 auto  ;
    background-color: #cacaca;
    height: 200px;
    /*border: 1px solid #E34234;*/
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .table__cell:hover {
    opacity: 0.8;
    cursor: pointer;
}

.table__cell_centre:hover {
  opacity: 0.8;
  cursor: pointer;
}

.table__cell_floor {
  width: 300px;
  margin-top: 50px;
  background-color: #cacaca;
  height: 100px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.table__cell_floor:hover {
  opacity: 0.8;
  cursor: pointer;
}