.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #444444;
  }

  .table__heading_centre {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #444444;
  }